:root{
    --primary:#45ce7b !important;
}
.ant-breadcrumb {
    padding-left: 16px !important;
}
.events {
    margin: 0;
    padding: 0;
    list-style: none;
}
.events .ant-badge-status {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.notes-month {
    font-size: 28px;
    text-align: center;
}
.notes-month section {
    font-size: 28px;
}
.ant-picker-calendar {
    width: 82vw !important;
    border-radius: 10px;
}
.ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-content {
    height: 60px !important;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    z-index: 1;
    color: var(--primary) !important;
    background: #fff;
    border-color: var(--primary) !important;
}
.ant-picker-calendar-full .ant-picker-panel .ant-picker-cell-selected .ant-picker-calendar-date,
.ant-picker-calendar-full
    .ant-picker-panel
    .ant-picker-cell-selected
    .ant-picker-calendar-date-today,
.ant-picker-calendar-full
    .ant-picker-panel
    .ant-picker-cell-selected:hover
    .ant-picker-calendar-date,
.ant-picker-calendar-full
    .ant-picker-panel
    .ant-picker-cell-selected:hover
    .ant-picker-calendar-date-today {
    background: #e6f8ec !important;
}
.ant-picker-calendar-full
    .ant-picker-panel
    .ant-picker-cell-selected
    .ant-picker-calendar-date-today
    .ant-picker-calendar-date-value,
.ant-picker-calendar-full
    .ant-picker-panel
    .ant-picker-cell-selected
    .ant-picker-calendar-date
    .ant-picker-calendar-date-value,
.ant-picker-calendar-full
    .ant-picker-panel
    .ant-picker-cell-selected:hover
    .ant-picker-calendar-date-today
    .ant-picker-calendar-date-value,
.ant-picker-calendar-full
    .ant-picker-panel
    .ant-picker-cell-selected:hover
    .ant-picker-calendar-date
    .ant-picker-calendar-date-value {
    color: var(--primary) !important;
}
.ant-radio-button-wrapper:hover {
    color: var(--primary) !important;
}
.input-element div {
    display: block !important;
    max-width: 100% !important;
    text-align: left !important;
}
.date-element .ant-row {
    display: block !important;
    max-width: 100% !important;
}
::selection {
    color: #fff;
    background: var(--primary) !important;
}
.ant-form-item {
    margin: 0 0 8px !important;
}
.ant-form-item-label {
    text-align: left !important;
}
.ant-picker-focused,
.ant-picker:hover {
    border-color: var(--primary) !important;
}
.ant-picker-range .ant-picker-active-bar {
    background: var(--primary) !important;
}
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
    background: var(--primary) !important;
}
.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner:before {
    border-color: var(--primary) !important;
}
.ant-btn-primary {
    border-color: var(--primary) !important;
    background: var(--primary) !important;
}
.anticon-close-circle {
    font: 18px !important;
    margin: 10px;
    color: var(--primary) !important;
}
hr.solid {
    border-top: 1.5px solid var(--primary);
}
.ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-today {
    border-color: var(--primary) !important;
}
.ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single):before,
.ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single):before {
    background: #e6f8ec !important;
}
.ant-picker-cell-in-view.ant-picker-cell-in-range:before {
    background: #e6f8ec !important;
}
.ant-picker-time-panel-column
    > li.ant-picker-time-panel-cell-selected
    .ant-picker-time-panel-cell-inner {
    background: #e6f8ec !important;
}
.ant-input-focused,
.ant-input:focus {
    border-color: var(--primary) !important;
}

.rbc-agenda-table>tbody>tr{
  background-color: #e6f8ec !important;
}
.rbc-today{
  background:#e6f8ec !important;
}
.rbc-show-more{
    color:#45ce7b !important;
}

