/* .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
a,
.ant-tag-geekblue {
    color: #45ce7b !important;
}

.ant-btn-primary {
    border-color: #45ce7b !important;
    background: #45ce7b !important;
} */
